html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.card {
  font-size: 80px;
  margin: 10px;
  cursor: pointer;
  background: white;
}

.stack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
}

.piles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0px;
  border: 1px solid black;
}

.pile {
  border: 1px solid black;
  display: flex;
  height: 90px;
}

.deck {
  position: fixed;
  right: 0px;
  top: 30%;
  margin: 21px;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 30%;
}

.suit {
  border: 1px solid black;
  width: 25%;
}
