html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.card {
  font-size: 100px;
  position: relative;
  line-height: 0.7;

  text-align: center;
  border-radius: 0px;
  display: flex;
  cursor: pointer;
  background-color: white;
}

.pile-card {
  padding: auto;
  font-size: 190px;
  margin-top: -100px;
  line-height: 0.7;
  position: relative;
  text-align: center;
  display: flex;
  cursor: pointer;
  background-color: white;
  height: fit-content;
  width: fit-content;
}

.stack {
  width: 20%;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

.card-on-stack {
  font-size: 190px;
  cursor: pointer;
  background-color: white;
  position: absolute;
  height: fit-content;
  width: fit-content;
}

.piles {
  padding-bottom: 100px;
  display: flex;
  height: 1000px;
  margin-top: 100px;
  justify-content: space-evenly;
}

.pile {
  width: 140px;
  height: 100%;
}

.deck {
  background: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.suit {
  border: 1px solid gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 300px;
  height: 200px;
  cursor: pointer;
  background-color: white;
  margin: 20px;
}

.card-on-suit {
  position: absolute;
  font-size: 130px;
  height: 200px;
  cursor: pointer;
  background-color: white;
  height: fit-content;
  width: fit-content;
}

.top-section {
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.open-card {
  top: 0px;
  margin-left: 100px;
  background-color: white;
}

.deck-container {
  width: 65%;
  height: 100%;
}
